/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
a {
  color: unset;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
:root {
  --color-primary: #212121;
  --color-secondary: #757575;
}
body {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  color: var(--color-primary);
}
.button {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #104f83;
}
.button:active {
  background-color: aqua;
}
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: aqua;
  text-decoration: underline;
}
.mail {
  color: #2196f3;
}
.tel {
  color: var(--color-secondary);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-studio {
  color: #000;
}
.logo-studio-foot {
  /*color: #fff*/
}
.studio,
.link-item {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.link-item {
  color: var(--color-primary);
}
h1 {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}
h3 {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
p {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}
h2 {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.name,
.job {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.187;
}
.contact-foot,
.adress {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.adress {
  /*color: #ffffff;*/
}
.contact-foot {
  /*color: rgba(255, 255, 255, 0.6);*/
}
.contact-foot:hover,
.contact-foot:focus {
  color: aqua;
  text-decoration: underline;
}
